<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/lib/anime.min.js"></script>
    <link rel="icon" href="~/img/T_original.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body style="font-family: 'JetBrains Mono', monospace">
    @RenderBody()
    <a href="https://github.com/OybekBabaev/Tarjimator" target="_blank">
        <div class="absolute bottom-7 px-5 mx-5">
            <p class="text-xl">Source code on Github <i class="fa fa-github"></i></p>
        </div>
    </a>
</body>
</html>