<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=JetBrains+Mono&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="~/img/T_original.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body style="font-family: 'JetBrains Mono', 'IBM Plex Mono', monospace" class="dark:bg-zinc-900">
    <div>
        @RenderBody()
        <div class="bottom-0 px-7 dark:text-white md:text-xl bg-white dark:bg-zinc-900 
            py-6 fixed w-full">
            <a href="https://github.com/OybekBabaev/Tarjimator" target="_blank">
                Source code on Github <i class="fa fa-github"></i>
            </a>
        </div>
    </div>
</body>
</html>