@page "/"
@model Tarjimator.Pages.IndexModel
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Homepage - The Tarjimator";
}


<div class="flex flex-col justify-center">
    <div class="px-10 py-7 grid grid-cols-2">
        <a asp-page="Index"><div><p class="text-6xl">The Tarjimator</p></div></a>
        <div>
            <a asp-page="Hint">
                <div class="float-right px-6 py-2 mt-3 rounded bg-green-500 hover:bg-green-700 text-white">
                    Hints
                </div>
            </a>
        </div>
    </div>
    <div class="px-10 py-5 grid grid-cols-2">
        <div class="mr-2">
            <form method="post">
                <label asp-for="OriginalText" class="block text-gray-900 mb-2 px-2">Original text</label>
                <textarea asp-for="OriginalText" placeholder="Your text goes here..." rows="13"
                    class="block w-full p-3 rounded-lg border border-gray-300 bg-gray-50" spellcheck="false"></textarea>
                @* <a asp-page="Index">
                    <div class="p-6 rounded bg-blue-500 hover:bg-blue-700 text-white">
                        Tarjimate!
                    </div>
                </a> *@
                <button type="submit" asp-page-handler="Submit" class="px-6 py-2 my-3 rounded bg-blue-500 hover:bg-blue-700 text-white">
                    Tarjimate!
                </button>
            </form>
        </div>
        <div class="ml-2">
            <label for="tarjimated" class="block text-gray-900 mb-2 px-2">Transliterated</label>
            <div id="tarjimated" class="h-4/5 bg-yellow-400 text-black rounded border border-gray-300 py-4 px-5">
                @Model.TarjimatedText
            </div>
            <button onclick="copyToCB()" class="px-6 py-2 my-3 rounded bg-blue-500 hover:bg-blue-700 text-white">
                Copy to clipboard
            </button>
            <button class="notifier px-6 py-2 my-3 rounded bg-black text-white" style="opacity: 0;">
                In the clipboard ✔
            </button>
        </div>
    </div>
</div>
<script>
    function copyToCB()
    {
        let tarjimatedText = document.getElementById("tarjimated").innerText;

        if (!(tarjimatedText == "Nothing here yet..." || tarjimatedText == ""))
        {
            let notifAnimation = anime({
                targets: '.notifier',
                opacity: 1.0,
                direction: 'alternate',
                duration: 2023,
                easing: 'easeInOutQuart'
            })

            // easings.net -> for even cooler easing functions

            let notification = document.getElementsByClassName("notifier")[0];
            notification.style.setProperty("display", "inline");
            notifAnimation.play();

            var textToCopy = document.getElementById("tarjimated").innerText;

            navigator.clipboard.writeText(textToCopy);
        }
    }
</script>