@page "/"
@model Tarjimator.Pages.IndexModel
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Homepage - The Tarjimator";
}


<div class="flex flex-col justify-center h-full mb-36">
    <div class="px-10 py-7 grid grid-cols-2">
        <div>
            <a asp-page="Index"><p class="text-3xl md:text-6xl dark:text-white">The Tarjimator</p></a>
            <p class="text-sm md:text-base dark:text-white pt-2 pl-1 md:pt-3">Latin-to-Cyrillic transliteration</p>
        </div>
        <div> 
            <a asp-page="Hint">
                <div class="float-right px-3 text-center md:px-6 py-2 mt-3 rounded bg-green-500 
                    hover:bg-green-700 text-white dark:text-zinc-800 dark:hover:text-slate-200">
                    Hints
                </div>
            </a>
        </div>
    </div>
    <div class="px-10 py-3 grid md:grid-cols-2">
        <div class="md:mr-2">
            <form method="post">
                <label asp-for="OriginalText" class="block text-gray-900 dark:text-white mb-2 md:px-2">
                    Original text
                </label>
                <textarea asp-for="OriginalText" placeholder="Your text goes here..." rows="14"
                    class="block w-full p-3 rounded-lg border border-gray-300 bg-gray-50
                        dark:bg-stone-400" 
                    spellcheck="false"></textarea>
                <button type="submit" asp-page-handler="Submit" class="px-3 md:px-6 py-2 my-3 rounded bg-blue-500 hover:bg-blue-700 text-white dark:bg-orange-700 dark:hover:bg-orange-800">
                    Tarjimate!
                </button>
            </form>
        </div>
        <div class="md:ml-2">
            <label for="tarjimated" class="block text-gray-900 mb-2 md:px-2 dark:text-white">Transliterated</label>
            <div id="tarjimated" class="h-4/5 bg-yellow-400 dark:bg-indigo-800 text-black dark:text-white rounded border border-gray-300 dark:border-indigo-800 py-4 px-5">
                @Model.TarjimatedText.Trim()
            </div>
            <button class="copyButton px-3 md:px-6 py-2 my-3 rounded bg-blue-500 hover:bg-blue-700 text-white dark:bg-orange-700 dark:hover:bg-orange-800"
                data-clipboard-target="#tarjimated" onclick="copytoCB()">
                Copy to clipboard
            </button>
            <button class="notifier px-3 md:px-6 py-2 my-3 rounded bg-black text-white dark:bg-zinc-900" style="opacity: 0;">
                Done ✔
            </button>
        </div>
    </div>
</div>
<script>
    function copytoCB()
    {
        let theText = document.getElementById("tarjimated").innerText;

        if (theText != "Nothing here yet...")
        {
            let notifAnimation = anime({
                targets: '.notifier',
                opacity: 1.0,
                direction: 'alternate',
                duration: 2023,
                easing: 'easeInOutQuart'
            });
            notifAnimation.play();

            simplecopy(theText);
        }
    }
</script>