@page "/oops"
@model Tarjimator.Pages.OopsModel
@{
    Layout = "_SimplerLayout";
    ViewBag.Title = "Oops!";
}

<div class="flex flex-col justify-center">
    <div class="p-4 mt-3 mx-3">
        <p class="text-3xl text-black dark:text-white">
            @Model.TheMessage
        </p>
    </div>
    <div>
        <a asp-page="Index">
            <div class="float-left px-6 py-2 rounded bg-green-500 hover:bg-green-700 dark:text-zinc-800 dark:hover:text-slate-200 mt-3 ml-7 text-white dark:text-zinc-800">
                Back home
            </div>
        </a>
    </div>
</div>